main{
    width: 100vw;
    height: 100vh;
    background-color: var(--black_color);
    position: relative;
}

.background_video{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background_video video{
    height: 100%;
}

.pasta{
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.253);
    width: 100%;
    height: 100%;
}

.content_center{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background: #0000007a;
}

.content_center h1{
    color: white;
    font-size: 4rem;
    font-family: AwakenRegular;
}

.content_center h2{
    color: #F35D00;
    font-size: 2rem;
    font-family: BarlowCondensed;
    letter-spacing: 5px;
}



@keyframes typed {
    0%{
        width: 0ch;
    }

    25%{
        width: var(--width_letters);
    }

    100%{
        width: var(--width_letters);
    }
}

@media (min-width: 1670px ) {
    .background_video video{
        height: auto;
        width: 100%;
    }
}

@media (max-height: 660px ) {
    .background_video video{
        height: auto;
        width: 100%;
    }
}

@media (max-height: 500px ) {
    .background_video video{
        height: auto;
        width: 100%;
    }
}

@media (max-width: 700px){
    .content_center h1{
        font-size: 2.5rem;
        text-align: center;
    }

    .content_center h2{
        font-size: 1.3rem;
    }

    footer{
        flex-flow: column;
        text-align: center;
        z-index: 1 !important;
    }

    footer section {
        font-size: 19px;
    }

    .background_video,
    .pasta,
    .fixed-top,
    .fixed-bottom{
        position: relative !important;
        overflow-x: hidden;
    }

    .content_center{
        position: absolute;
    }

}

.contacta{
    color: var(--orange_color) !important;
}


.form-contact button{
    max-width: 222px !important;
    margin: auto;
    padding: 6px 0px;
}

.input_file {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.form-contact input:focus,
.form-contact textarea:focus{
    background: transparent;
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid white;
    font-family: BarlowRegular;
}

.form-contact input::placeholder,
.form-contact textarea::placeholder{
    font-family: BarlowRegular;
    color: white !important;
    font-size: 1.1rem;
}


.form-contact input,
.form-contact textarea{
    border-radius: 0px !important;
    background: transparent;
    border: 2px solid white;
    font-family: BarlowRegular;
    font-size: 1.1rem;
    color: white !important;
}

.form-contact input.error,
.form-contact textarea.error{
    border: 2px solid red;
}


.form-contact textarea{
    max-height: 177px;
}

.form-contact button{
    background: var(--orange_color);
    font-family: BarlowBold;
    font-size: 1.2rem;
    color: white !important;
}

html{
    overflow-x: hidden;
}

@media (max-width: 700px){
    form.form-contact {
        display: flex;
        flex-flow: column;
        padding-top: 10px !important;
        margin-top: 21px !important;
    }

    form.form-contact div {
        width: 100%;
        margin-bottom: 0px !important;
        padding: 0px !important;
    }

    form.form-contact div input {
        margin-bottom: 21px;
    }
    .form-contact button {
        margin-top: 23px;
        margin: 23px 0px !important;
    }
}
