.conozcanos_all iframe{
    width: 100%;
    height: 500px !important;
}


.conozcanos_all h1{
    font-family: BarlowBold;
    color: black;
    font-size: 2.5rem !important;
}

.conozcanos_all .video_last div,
.conozcanos_all .video_last p{
    font-family: BarlowRegular;
    font-size: 1.1rem;
    padding: 0px;
    color: black;
}

.col-4.all_content {
    align-items: center;
    max-height: 80vh;
    height: auto;
    overflow: auto;
}

.all_content article {
    height: 231px;
    max-width: 344px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}

.all_content article img{
    width: 100%;
    transform: scale(1) rotate(0deg);
    transition: .4s ease;
    object-fit: cover;
    height: 100%;
}

.all_content .ver_mas{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: rgba(0, 0, 0, 0);*/
    transition: .4s ease;
    /*opacity: 0;*/
    color: white;
    font-family: BarlowRegular;
    font-size: 1.3rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.36);
    opacity: 1;
    padding: 11px;
}

.all_content article:hover .ver_mas {
    background: rgba(0, 0, 0, 0.36);
    opacity: 1;
}

.all_content article:hover img{
    transform: scale(1.1) rotate(3deg);
}

.all_content article svg {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 40px;
    color: white !important;
}


@media(max-width: 700px){
    .video_last.col-8 {
        width: 100% !important;
    }

    .conozcanos_all iframe {
        width: 100%;
        height: 244px !important;
    }

    .row .col-4.all_content {
        width: 100%;
        margin-top: 27px;
        max-height: 100% !important;
        height: auto;
    }
}
